/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 100%;
  height: 497px;
  background: url('https://http2.mlstatic.com/D_NQ_NP_947527-MLA43335981248_092020-O.jpg') no-repeat center top;
  background-size: contain;
}
